version: '3.8'

services:
  simulation_service:
    # Для локальной разработки используйте build: .
    build: .
    # Для использования образа из registry:
    # image: ghcr.io/sergey-gerasimo/simulation-grpc-service:sha-e90237a
    # Или используйте latest (но не забудьте обновить: docker pull ghcr.io/sergey-gerasimo/simulation-grpc-service:latest)
    # image: ghcr.io/sergey-gerasimo/simulation-grpc-service:latest
    pull_policy: always # Всегда обновлять образ при запуске
    ports:
      - "50051:50051"
      - "50052:50052"

    environment:
      - LOG_LEVEL=DEBUG
      - DEBUG=true
      - POSTGRES_HOST=db
      - POSTGRES_DB=auth_db
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_PASSWORD=redis_password

    volumes:
      - ./logs:/app/logs
      - ./proto:/app/proto # для горячей перегенерации proto
    restart: unless-stopped
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "python", "-c", "import grpc; channel = grpc.insecure_channel('localhost:50051'); print('gRPC server is running')" ]
      interval: 30s
      timeout: 10s
      retries: 3
  db:
    image: postgres:15
    environment:
      - POSTGRES_DB=auth_db
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
    ports:
      - "5432:5432"
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U user -d auth_db" ]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 10s

  redis:
    image: redis:7-alpine
    command: redis-server --requirepass redis_password
    ports:
      - "6379:6379"
    volumes:
      - ./redis_data:/data
    environment:
      - REDIS_PASSWORD=redis_password
    healthcheck:
      test: [ "CMD-SHELL", "redis-cli -a redis_password ping | grep PONG" ]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 5s

volumes:
  postgres_data:
  redis_data:
